@font-face {
    font-family: 'Audiowide';
    src:  url('fonts/audiowide-regular-webfont.woff') format('woff2');
}
body {
    margin: 0 auto;
    min-width: 1080px;
    width: 100%;
    font-family: Audiowide;
    overflow-x: hidden;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
header {
    width: 100%;
    background-image: url("images/bg-transparent1.png");
    position: absolute;
    height: 60px;
}
.header-logo {
    margin-left: 15%;
    margin-right: 2%;
    cursor: pointer;
}
a {
    text-decoration: none;
}
#mobile-menu {
    display: none;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    width: 90px;
    cursor: pointer;
}
#close-menu {
    display: none;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    width: 90px;
    cursor: pointer;
}
#drop-down-menu {
    display: none;
    width: 75%;
    margin-left: 23%;
    margin-top: -4px;
}
#drop-down-menu a {
    font-family: Tahoma, serif;
    display: block;
    width: 100%;
    padding: 1% 0;
    background-color: #630a3c;
    border: 1px white solid;
    font-size: 30px;
    padding-left: 14px;
    text-transform: uppercase;
    color: white;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 5px;
}
#drop-down-menu a:hover {
    background-color: black;
}
#drop-down-menu a#blog-expanded, #drop-down-menu a#projects-expanded {
    display: none;
}
#expand-blog, #expand-project {
    cursor: pointer;
    border: 1px white solid;
    float: right;
    margin-right: 16px;
    width: 38px;
}
#collapse-project {
    margin-top: -47px;
}
#collapse-blog {
    margin-right: 14px;
}
#collapse-blog, #collapse-project {
    display: none;
    cursor: pointer;
    border: 1px white solid;
    float: right;
    width: 38px;
}
#close-menu {
    display: none;
}
#hidden-project {
    margin-left: 51%;
    margin-top: -0.4%;

}
#hidden-blog {
    margin-left: 1.5%;
}
#hidden-project, #hidden-blog {
    background-color: #620031;
    color: #ffffff;
    display: inline-block;
    font-family: Arial;
    font-size: 18px;
    line-height: 60px;
    min-height: 60px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}
nav {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}
nav a {
    text-transform: uppercase;
    color: white;
    padding: 20px 24px 19px 24px;
}
nav a:hover {
     background-color: #620031;
}
.cover {
    background-image: url("images/bg-home.jpg");
    background-repeat: round;
}
.overelay-img {
    margin-left: 15%;
    margin-top: 10%;
}
.cover-title {
    margin-top: 14%;
    float: right;
    margin-right: 24%;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}
.cover-title h1 {
    font-size: 36px;
}
.subtitle {
    font-size: 30px;
    font-family: Tahoma, serif;
    text-align: -webkit-center;
    padding-bottom: 25px;
}
.info-link {
    color: #a3a3a3;
    padding: 10px 30px;
    background-color: black;
    margin-left: 60px;
}
.projects-catalogue {
    margin-top: -5%;
    width: 70%;
    margin-left: 15%;
    text-align: -webkit-center;
    font-size: 20px;
    padding: 14px 0;
    color: #a3a3a3;
}
h3 {
    padding: 10px 0;
    text-transform: uppercase;
    background-image: url("images/bg-transparent1.png");
}
.project-links {
    margin-top: -24px;
    width: 24.999%;
    height: 164px;
    float: left;
}
.project-links img {
    width:100%;
}
.project-links:hover, .blog-context img:hover, .video-block video:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.general-info-block {
    background-color: #630031;
    color: white;
    margin-top: -7px;
}
.general-info-block p {
    padding-bottom: 2.5%;
    text-align: -webkit-center;
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 0;
}
.general-info-block h2 {
    margin: 0;
    text-transform: uppercase;
    padding-top: 2%;
    text-align: center;
}
.content {
    min-height: calc(100vh - 200px);
}
.context-block {
    background-color: black;
    padding-bottom: 4%;
}
.context-block h2 {
    color: white;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}
.video-block {
    float: left;
    width: 50%;
}
video {
    cursor: pointer;
    position: relative;
    left: 32%;
}
.blog-block {
    float: left;
    width: 30.6%;
    margin-left: 3%;
}
.title-blog {
    float: right;
    color: #626262;
    text-transform: uppercase;
    
}
.blog-context a {
    display: inline-block;
    padding: 8px 8px;
    color: white;
    text-transform: uppercase;
    background-color: #3c0f38;
    margin-left: 40%;
    margin-top: 6%;
}
.blog-context a:hover {
    background-color: #620031;
}
.blog-context span {
    color: white;
    margin-left: 5%;
}
.title-blog {
    float: left;
    margin-left: 5%;
    color: #626262;
    text-transform: uppercase;
}
.blog-context img {
    cursor: pointer;
    float: left;
}

hr {
    margin: 14px 0;
}
footer {
    min-height: 200px;
}
.social-block {
    background-color: #a3a3a3;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    height: 100px;
}
.social-text {
    display: inline-block;
    margin-top: 2.6%;
    margin-right: 4%;
}
.social-block a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5%;
}
.social-block a:hover {
    opacity: 0.7;
}
.social-block a:nth-of-type(2) {
    margin-right: 1%;
}
.copyright {
    font-family: Tahoma, serif;
    font-size: 14px;
}
.copyright p {
    text-align: center;
    padding: 2.9%;
}

@media only screen and (min-width: 1681px) and (max-width: 1920px){
    header, .header-logo {
        height: 100px;
    }
    nav a {
        font-size: 22px;
        padding-top: 40px;
        padding-bottom: 34px;
    }
    nav {
        padding-top: 37px;
    }
    .overelay-img {
        width: 500px;
    }
    .cover-title h1 {
        font-size: 60px;
    }
    .subtitle {
        font-size: 40px;
    }
    .info-link {
        margin-left: 130px;
        font-size: 30px;
    }
    .projects-catalogue {
        margin-top: -4%;
        font-size: 30px;
    }
    .project-links {
        margin-top: -3%;
        height: 230px;
    }
    .general-info-block h2, .context-block h2 {
        font-size: 40px;
    }
    .general-info-block p {
        font-size: 30px;
    }
    video {
        width: 600px;
        height: 450px;
    }
    .title-blog {
        font-size: 27px;
    }
    .blog-block img {
        width: 200px;
    }
    .blog-context span, .blog-context a {
        font-size: 22px;
    }
    .blog-context a {
        margin-left: 37%;
    }
    .social-block {
        height: 140px;
    }
    .social-text {
        font-size: 30px;
    }


}

@media only screen and (min-width: 1451px) and (max-width: 1680px) {
    header {
        height: 80px;
    }
    .header-logo {
        height: 80px;
    }
    nav {
        padding-top: 30px;
    }
    nav a {
        padding: 29px 24px;
        font-size: 18px;
    }
    .cover-title {
        font-size: 25px;
    }
    .cover-title h1 {
        font-size: 45px;
    }
    .subtitle {
        font-size: 36px;
    }
    .info-link {
        margin-left: 80px;
    }
    .project-links {
        height: 202px;
    }
    .general-info-block h2 {
        font-size: 36px;
    }
    .text-block {
        font-size: 24px;
    }
    .video-block h2 {
        font-size: 30px;
    }
    video {
        width: 500px;
        height: 360px;
    }
    .blog-context img {
        width:140px;
    }
    .title-blog {
        font-size: 22px;
    }
    .blog-context span {
        font-size: 18px;
    }
    .blog-context a {
        font-size: 20px;
    }
    .social-text {
        margin-top: 2.1%;
    }

}

@media only screen and (min-width: 1440px) and (max-width: 1450px) {
    .project-links {
        height: 173px;
    }
    video {
        width: 450px;
        height: 300px;
    }
    .blog-context img {
        width: 129px;
    }
    .blog-context a {
        font-size: 16px;
    }
    .social-text {
        margin-top: 2.35%;
    }
}
@media only screen and (min-width: 1081px) and (max-width: 1439px) {
    header {
        width: 100%;
    }
    .header-logo {
        margin-left: 7%;
    }
    .overelay-img {
        width: 330px;
    }
    .cover-title {
        margin-right: 20%;
    }
    .projects-catalogue {
        margin-top: -6%;
    }
    .project-links {
        height: 164px;
    }
    video {
        left: 16%;
        height: 333px;
    }
    .blog-context a {
        margin-left: 61%;
    }
    .social-text {
        margin-top: 2.8%;
    }
    .copyright p {
        padding: 3.3%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1080px){
    .header-logo {
        margin-left: 7%;
    }
    .overelay-img {
        width: 310px;
    }
    .project-links {
        height: 131px;
    }
    video {
        left: 18%;
        height:322px;
    }
    .blog-context a {
        margin-left: 61%;
    }
    .social-text {
        margin-top: 3.25%;
    }
    .copyright p {
        padding: 3.25%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    header {
        width: 140%;
        height: 115px;
    }
    .header-logo {
        width: 40%;
        margin-left: 1%;
        margin-top: 1.5%;
    }
    nav {
        display: none;
    }
    #mobile-menu {
        display: inline-block;
    }
    .overelay-img {
        margin-top: 17%;
        width: 320px;
    }
    .cover-title {
        margin: 20% 20% 0 0;
    }
    .project-links {
        height: 131px;
    }
    video {
        left: 10%;
    }
    .blog-block {
        width: 39%;
    }
    .blog-context a {
        margin-left: 69%;
    }
    .social-text {
        margin-top: 3.15%;
    }
    .copyright p {
        padding: 3.15%;
    }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
    header {
        width: 254%;
        height: 140px;
    }
    .header-logo {
        margin-left: 1%;
        width: 610px;
        margin-top: 1%;
    }
    nav {
        display: none;
    }
    #mobile-menu {
        display: block;
        width: 114px;
    }
    .overelay-img{
        margin-left:15%;
        margin-top: 18%;
        width: 358px;
    }
    .cover-title {
        margin-top: 26%;
        margin-right: 15%;
    }
    .project-links {
        height: 132px;
    }
    video {
        left: 14%;
    }
    .blog-block {
        width: 39%;
    }
    .social-text {
        margin-top: 3.25%;
    }
    .copyright {
        padding: 3.25%;
    }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
    header {
        width: 254%;
        height: 140px;
    }
    .header-logo {
        margin-left: 1%;
        width: 610px;
        margin-top: 1%;
    }
    nav {
        display: none;
    }
    #mobile-menu {
        display: block;
        width: 114px;
    }
    .overelay-img{
        margin-left:15%;
        margin-top: 18%;
        width: 358px;
    }
    .cover-title {
        margin-top: 26%;
        margin-right: 15%;
    }
    .project-links {
        height: 132px;
    }
    video {
        left: 14%;
    }
    .blog-block {
        width: 39%;
    }
    .social-text {
        margin-top: 3.25%;
    }
    .copyright {
        padding: 3.25%;
    }
}
@media only screen and (max-width: 320px){
    header {
        width: 254%;
        height: 140px;
    }
    .header-logo {
        margin-left: 1%;
        width: 610px;
        margin-top: 1%;
    }
    nav {
        display: none;
    }
    #mobile-menu {
        display: block;
        width: 114px;
        margin-right: -31%;
    }
    .overelay-img{
        margin-left:15%;
        margin-top: 18%;
        width: 358px;
    }
    .cover-title {
        margin-top: 26%;
        margin-right: 15%;
    }
    .project-links {
        height: 132px;
    }
    video {
        left: 14%;
    }
    .blog-block {
        width: 39%;
    }
    .social-text {
        margin-top: 3.25%;
    }
    .copyright {
        padding: 3.25%;
    }
}





